[tool.poetry]
name = "mojo-testplus"
description = "Automation Mojo TestPlus Test Framework"
version = "0.0.36"
authors = [
    "Myron Walker <myron.walker@gmail.com>"
]
readme = "README.rst"
license = "LICENSE.txt"
classifiers = [
    "Programming Language :: Python :: 3",
    "License :: OSI Approved :: MIT License",
    "Operating System :: POSIX"
]
keywords = [
    "python"
]
packages = [{include="mojo", from="source/packages"}]

homepage = "http://automationmojo.com"
repository = "https://github.com/automationmojo/testplus"

[tool.poetry.dependencies]
python = ">=3.8,<4.0"
debugpy = "^1.6.5"
click = "^8.1.3"
requests = "<=2.29.0"
mojo-collections = ">=0.0.11 <0.1.0"
mojo-config = ">=0.0.27 <0.1.0"
mojo-xmodules = ">=0.0.100 <0.1.0"
mojo-runtime = ">=0.0.71 <0.1.0"
mojo-interop = {version = ">=0.0.31 < 0.1.0", optional = true}
pymongo = {extras = ["srv"], version = "^4.0.0", optional = true}
couchdb = {version = "^1.2", optional = true}
mojo-errors = ">=0.0.1 <0.1.0"

[tool.poetry.extras]
interop = ["mojo-interop"]
mongodb = ["pymongo"]
couchdb = ["couchdb"]

[tool.poetry.group.dev.dependencies]
myst-parser = "^0.18.1"
sphinx = ">=1.6,<6"
sphinx-rtd-theme = "^1.1.1"

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"
